<div style="margin-top: -105px">
	<div class="row justify-content-md-center text-center">
		<div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
			<i class="bi-hdd-fill"></i>
			<h3>Back-end</h3>
			<p>
				Desarrollo de codigo.
			</p>
			<p class="text-primary cabecera">
				Titulos:
			</p>
			<p>
				Java, SQL Server, PL-SQL server
			</p>
			<p class="text-primary cabecera">
				Experiencia:
			</p>
			<ul>
				<li>Web APIs</li>
				<li>ASP.NET Core MVC</li>
				<li>C#</li>
				<li>Java</li>
				<li>PHP</li>
				<li>C++</li>
				<li>SQL SERVER</li>
				<li>PL-SQL SERVER</li>
			</ul>
		</div>
		<div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
			<i class="bi-code-slash"></i>
			<h3>Front-End</h3>
			<p>
				Puedo crear front-ends y paginas web
			</p>
			<p class="text-primary cabecera">
				Titulos
			</p>
			<p>
				JavaScript,Worpress,Joombla
			</p>
			<p class="text-primary cabecera">
				Experiencia:
			</p>
			<ul>
				<li>Joombla</li>
				<li>CSS</li>
				<li>HTML5</li>
				<li>BOOSTRAP</li>
				<li>Javascript</li>
			</ul>
		</div>
	</div>
</div>