


	<div id="espacio" class="row" id="sobreMi">
		<section id="titulos" class="text-center">
			<section id="ini" class="row">
			<h1 id="pres" class="col-6">Soy Toni</h1>
			<img id="fotoMi" class="col-4" src="~/Images/Foto.png" />
			</section>

		<h3 id="espacio" class="text-center">Desarrollador y diseñador web</h3>
		
		<p id="espacio" class="text-center">
			Estudiante con habilidades en programación , desarrollo de
			interfaces y conocimientos de diseño de pagina web, tanto como de Back End como de Front End. Entusiasta del mundo digital e informático con
			facilidad tanto en entornos cooperativos como individuales. 

		</p>
		</section>
	</div>
</div>