


	<div id="espacio" class="row" id="sobreMi">
		<section id="titulos" class="text-center">
			<h1>Hola, Soy Toni</h1>
		<h3 id="espacio" class="text-center">Desarrollador y diseñador web</h3>
		
		<p id="espacio" class="text-center">
			Estudiante con habilidades en programación y desarrollo de
			interfaces. Entusiasta del mundo digital e informático con
			facilidad tanto en entornos cooperativos como individuales.
		</p>
		</section>
	</div>
</div>