<div class="container">
	<div class="row">
		<section class="text-center" id="contacto">
			<h1 id="espacio">Datos de contacto </h1>
			<h3 id="espacio">Teléfono:655405522</h3>
			<h3 id="espacio">Correo: t.bone.sgbcn@outlook.com</h3>
			<h3 id="espacio">
				Mi Linkedin: <a href="https://www.linkedin.com/in/toni-bon%C3%A9-espinosa-683453259">Linkedin</a>
			</h3>
			<h3 id="espacio">Direccion: Calle Bolivia 363 , Barcelona</h3>
		</section>
		
	</div>
</div>