

<div  class="container-fluid">
	<div id="espacio" class="row">
		<section id="titulos" class="text-center">
			<h1>Mi curriculum para descargar </h1>
			<h3 id="espacio" class="text-center">Descargar aqui debajo</h3>
		</section>
		
		
		<a src="#" id="espacio" class="text-center">
			
			<section id="espacio" class="text-center">
				<img id="curriculumImg" src="/Images/Curriculum.png" /><br />

			</section>
			<section id="espacio" class="text-center">
				<a href="~/curriculum/Currículum_Toni_Boné_Espinosa.pdf" download="curriculum.pdf" id="descargar">Descargar</a>

			</section>
			
			
		</a>
		
	</div>
</div>