<div class="container">
	<div class="row">
		@foreach (var exper in ViewBag.Vname)
			{
			<section class="text-center" id="expe">
				<h1 id="espacio">@exper.Title</h1>
				<h3 id="espacio">@exper.Description</h3>
				<p id="espacio">@exper.Puesto</p>
			</section>
			}
		
		
	</div>
</div>

			
				
		
			
