<div class="container">
	<div class="row">
		<section id="espacio" class="text-center">
			<h1 id="espacio">Formacion</h1>
			<hr />
			<h3 id="espacio">Centro de Estudios Monlau (2019 – 2022)</h3>

			<h5>Grado superior</h5>
			<p>
				Primer año de Ciclo Superior de Desarrollo de Aplicaciones  Multiplataforma.
			</p>
			<p>
				Segundo año de  Ciclo Superior de Desarrollo Aplicaciones Web.
			</p>
			<h5>Grado Medio</h5>
			<p>
				Ciclo Medio de Sistemas Microinformáticos y Redes
			</p>

			<hr />
			<h3 id="espacio">Colegio Sant Gabriel de Barcelona (2005 – 2019)</h3>
			<p>
				Educación Básica, Primaria y Secundaria
			</p>
			
		</section>
		
	</div>
</div>